/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================================================
                                Geral
====================================================================*/
a{
    text-decoration: none;
    color: #000000;
}
body{
    margin: 2vw 16vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*====================================================================
                                Topo
====================================================================*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Usamos para alinha depois do displey*/
}
header h1{
    font-size: 1.4rem;
    font-weight: bold;
}
header nav ul{
    display: flex;
}
header nav ul li a{
    padding: 14px;
}
a.signUp{
    background-color: #0E8388;
    border-radius: 50px;
    padding: 7px 10px;
    color: white;
    /*display: inline-block;
    manter inline, mas colocar como bloco*/
}
/*====================================================================
                                Conteúdo - Parte 1
====================================================================*/
main section.banner{
    text-align: center;
    line-height: 40px;
}
main section h1{
   font-size: 2rem;
}
/*====================================================================
                                Conteúdo - Parte 2
====================================================================*/
main section.products h2{
    text-align: center;
    margin: 2vw 0 1vw 0;
    font-size: 1.4rem;
}
main section.products p.pParagrafos{
    text-align: center;
    color: #888888;
}
main section.products div ul{
    display: flex;
}
main section.products{
    background-color: #CBE4DE;
}
main section.products div ul.productsSuperiores li{
    background-color: white;
    margin: 2vw 0.4vw 1.2vw 0.5vw;
    border-radius: 10px;
}
main section.products div ul.productsInferiores li{
    background-color: white;
    margin: 1.5vw 0.4vw 1.2vw 0.5vw;
    border-radius: 10px;
}
/*====================================================================
                                Conteúdo - Parte 2.1
====================================================================*/
main section.products div ul.productsSuperiores li p span{
    justify-content: center;
}
/*
main section.products ul{
    display: flex;
    flex-wrap: wrap
    Serve para quebrar o testo quando não caber no parágrafo.
    justify-content: space-between
}
main section.products ul li{
    width: 30%
    Para caber apenas 30% do quadrado
}
*/